<h1 class="display-5 fw-bold text-body-emphasis text-center">Hello JavaScript</h1>

<div class="card bg-dark text-white">
  <img class="card-img" src="https://storage.kun.uz/source/6/apKC72vHGkCger4VdHK6a9Rg8u7Aej8Y.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>


<div class="row">
{{#if kampaniya.length}}
{{#each kampaniya}}
<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
      <a href="/views/maxsulat.hbs">
        <div class="card-body p-3">
            <img src="{{img}}" alt="{{title}}">
          <h5 class="name"><a href="#" class="text-dark">{{name}}</a></h5>
          <p class="vazifasi">{{vazifasi}}</p>
          <b><p class="maosh">{{maosh}}</p></b>
        </div>
        <div class="card-footer text-muted">
            <a href="#">savatga qo`shish</a> 
        </div>
      </div>
    </a>
    </div>
{{/each}}
{{else}}
    <p>Hozircha hech qanday e`lon yoq</p>
{{/if}}
</div>

<div class="product-card _md" data-v-a4905cad="" data-v-68dbe9e8="">
  <a href="/ru/product/view/samsung-galaxy-a14-global-cernyi-4128-gb" class="product-card__link" aria-label="samsung-galaxy-a14-global-cernyi-4128-gb" data-v-a4905cad="">
  </a>
  <div class="product-card__actions" data-v-a4905cad="">
    <button aria-label="Favorite toggle" class="product-card__actions-item _like" data-v-a4905cad="">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__like" viewBox="0 0 24 24" data-v-a4905cad="">
      <path d="M21.291 4.612a5.5 5.5 0 0 0-7.78 0l-1.06 1.06-1.06-1.06a5.501 5.501 0 0 0-7.78 7.78l1.06 1.06 7.78 7.78 7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78v0Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-v-a4905cad="">
      </path>
      </svg>
      </button>
      <button class="product-card__actions-item _compare" aria-label="compare" data-v-a4905cad="">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__compare" viewBox="0 0 24 24" data-v-a4905cad="">
        <path d="M5.75 16.25a1.25 1.25 0 1 0-2.5 0v4.5a1.25 1.25 0 1 0 2.5 0v-4.5ZM10.75 4.25a1.25 1.25 0 1 0-2.5 0v16.5a1.25 1.25 0 1 0 2.5 0V4.25ZM15.75 12.25a1.25 1.25 0 1 0-2.5 0v8.5a1.25 1.25 0 1 0 2.5 0v-8.5ZM20.75 8.25a1.25 1.25 0 1 0-2.5 0v12.5a1.25 1.25 0 1 0 2.5 0V8.25Z" data-v-a4905cad="">

        </path>
        </svg>
        </button>
        </div>
        <div class="product-card__image _is-white" data-v-a4905cad="">
          <div class="product-card__sale" data-v-a4905cad="" style="z-index: 10;"> -13% 

          </div><!----><!---->
          <a href="/ru/product/view/samsung-galaxy-a14-global-cernyi-4128-gb" class="product-card__picture" aria-label="product-view-samsung-galaxy-a14-global-cernyi-4128-gb" data-v-a4905cad="">
          <img src="https://olcha.uz/image/220x220/products/COnrRAzmmeEFBLdXZN0HH0dRbExdKC2k6T46qWhscg3P0OIyaOn7uMnZ6yxe.jpg" width="220" height="220" alt="Samsung Galaxy A14 (Global) Черный 4/128 GB" title="Samsung Galaxy A14 (Global) Черный 4/128 GB" data-v-a4905cad="">
          </a><!----><!----><!---->
          {{!-- <ul class="product-card__pagination" data-v-a4905cad="">
            <li data-v-a4905cad=""></li><li data-v-a4905cad="">

            </li>
            <li data-v-a4905cad="">

            </li>
            <li data-v-a4905cad="">

            </li>
            <li data-v-a4905cad="">

            </li><li data-v-a4905cad=""></li><li data-v-a4905cad=""></li><li data-v-a4905cad=""></li><li data-v-a4905cad=""></li></ul></div><div class="product-card__content" data-v-a4905cad=""><a href="/ru/product/view/samsung-galaxy-a14-global-cernyi-4128-gb" class="product-card__col" aria-label="product-view-samsung-galaxy-a14-global-cernyi-4128-gb" data-v-a4905cad=""><div class="product-card__brand-name" data-v-a4905cad="">Samsung Galaxy A14 (Global) Черный 4/128 GB </div><div class="product-card__params" data-v-a4905cad="">Вы можете купить этот товар только у нас с официальной гарантией по самой низкой цене. У вас есть возможность купить товар в рассрочку и без кредита. Есть услуга доставки. Быстрая доставка по всему Узбекистану. Делайте покупки у нас легко и быстро. Мы отобрали для Вас только лучшее, поэтому больше Вам не придется бегать по магазинам и тратить кучу времени на поиски. Все что Вам нужно, есть у нас!</div></a><div class="product-card__col" data-v-a4905cad=""><div class="product-card__price price" data-v-a4905cad=""><div class="price__head" data-v-a4905cad=""><div class="price__main _sale" data-v-a4905cad="">2  135  000 сум</div><div class="price__old" data-v-a4905cad="" style="">2  435  000 сум</div></div><div class="price__credit" data-v-a4905cad="">277  000 сум x 12 мес</div></div><div class="product-card__bonus _empty" data-v-a4905cad="" style="height: 24px;"></div><div class="product-card__btns" data-v-a4905cad=""><button aria-label="Cart toggle" class="product-card__to-card" data-v-a4905cad=""><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="icon icon__cart" data-v-a4905cad=""><path d="M5.625 18.75C6.48795 18.75 7.1875 18.0504 7.1875 17.1875C7.1875 16.3246 6.48795 15.625 5.625 15.625C4.76206 15.625 4.0625 16.3246 4.0625 17.1875C4.0625 18.0504 4.76206 18.75 5.625 18.75Z" data-v-a4905cad=""></path><path d="M15 18.75C15.8629 18.75 16.5625 18.0504 16.5625 17.1875C16.5625 16.3246 15.8629 15.625 15 15.625C14.1371 15.625 13.4375 16.3246 13.4375 17.1875C13.4375 18.0504 14.1371 18.75 15 18.75Z" data-v-a4905cad=""></path><path d="M3.125 5H16.7512C16.8427 5 16.9332 5.02011 17.0161 5.0589C17.099 5.0977 17.1724 5.15423 17.231 5.22451C17.2897 5.29479 17.3322 5.37709 17.3555 5.4656C17.3789 5.55412 17.3825 5.64668 17.3661 5.73674L16.0601 12.9242C16.0339 13.0683 15.958 13.1985 15.8456 13.2923C15.7332 13.3861 15.5915 13.4375 15.4451 13.4375H5.18665C5.04034 13.4375 4.89866 13.3862 4.78631 13.2924C4.67395 13.1987 4.59804 13.0686 4.57179 12.9246L2.65034 2.38788C2.6241 2.24394 2.54818 2.11377 2.43583 2.02005C2.32347 1.92633 2.1818 1.875 2.03548 1.875H0.9375" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" data-v-a4905cad=""></path></svg><!----></button><button class="product-card__to-credit" aria-label="installment" data-v-a4905cad="">В рассрочку</button></div></div></div></div> --}}